JIRA_BASE_URL=https://test-domain.atlassian.net
JIRA_EMAIL=test@example.com
JIRA_API_TOKEN=test_jira_token

CLOCKIFY_BASE_API_URL=https://api.clockify.me/api/v1
CLOCKIFY_API_KEY=test_clockify_key
CLOCKIFY_WORKSPACE_ID=test_workspace_id
CLOCKIFY_PROJECT_ID=test_project_id
CLOCKIFY_USER_ID=test_user_id
CLOCKIFY_REPORTS_API_URL=https://reports.api.clockify.me
CLOCKIFY_REPORT_SAVE_PATH=/Users/user/Downloads
CLOCKIFY_REPORT_BASE_NAME=Nowak Tomasz umowa zlecenie

PLANNER_BASE_URL=https://test.domain.co/api
PLANNER_USERNAME=test_user
PLANNER_PASSWORD=test_password
PLANNER_USER_ID=test_user_id

TASK_PROVIDER=jira
PROJECT_KEY=TEST
